<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL -->
<html>
<link>
<title>Image Recognition Tool</title>
<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<link href="static/mainPageStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>Image Recognition</h1>
    <h3>Welcome to the Image Recognition Application!
        Users can upload an image through this website, then the server will automatically assign lables to
        the image and quickly classify the image into multiple predefined categories with probabilities.
    </h3>

    <h5>Instructions:
    </h5>
    <h5>
        Users can upload an image through this website, then our server will automatically assign lables to
        the image and quickly classify the image into multiple predefined categories with probabilities.
    </h5>
    <h5>
        Click the Choose File button to upload an image
    </h5>
    <h5>
        After uploading the image, click the Classify Image button to assign labels
    </h5>
    <input id="imageSrc" class="upload_image" type="file" onchange="previewFile.call(this)">
    <button id="upload" onclick="uploadFile.call(this)">Upload</button>

    <div class="row">
        <div class="col-lg-7">
            <img class="preview_image" src="" style="display:none" width="600px" height="400px" id="image"/>
        </div>
        <div class="col-lg-5">
            <div id="result">
            </div>

        </div>

    </div>
    <canvas id="canvas" width="600px" height="400px" style="padding-top:20px;padding-bottom:20px"></canvas>
    <div id="extra-info"></div>
    <style>
        table td {
            border: 1px solid;
            padding: 5px;
        }
    </style>
</div>

<!--Functions-->
<script>
    var myCanvas = $("#canvas");
    var myCanvasContext = myCanvas[0].getContext("2d");
    var canvasImage = document.getElementById("image");
    var server = "http://128.163.232.71:80";

    function previewFile() {
        myCanvasContext.drawImage(document.getElementById("image"), 0, 0, 600, 400);
        if (this.files && this.files[0]) {
            var obj = new FileReader();
            var image = document.getElementById("image");
            obj.onload = function (data) {
                image.src = data.target.result;
                image.style.display = "inline-block";
            };
            obj.readAsDataURL(this.files[0]);
        }
    }

    function uploadFile() {
        var input = document.getElementById('imageSrc');
        var file = input.files[0];
        fr = new FileReader();
        console.log("===========After file reader=========");
        fr.onload = function() {
            var imageBase64 = fr.result.split(',')[1];
            imageProcessing(imageBase64);
        };
        fr.readAsDataURL(file);
    }

    function charCodeFromCharacter(c) {
         return c.charCodeAt(0);
    }

    function imageProcessing(base64String) {
        var appdir= '/imageProcess';
        var data = {"file": base64String};
        $.ajax({
            url: server + appdir,
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                // console.log(response);
                if (response.resultMsg == "ReceivedLabels") {
                    var RTT = response.RTT;
                    var throughput = response.throughput;
                    var labels = response.labels;
                    var probability = response.probability;
                    buildTable(RTT, throughput, labels, probability);
                    alert('Successfully Uploaded the Image!');
                    // for (i=0;i<labels.length;i++) {
                    //     $('#listOfResult').append('<li>'+ ' Label'+(i+1)+': '+labels[i]+ ' Probability: ' + probability[i] +'</li>>');
                    // }
                    // $('#listOfResult').append('<li>'+ 'RTT: '+ RTT+ ' seconds' +'</li>>');
                    // $('#listOfResult').append('<li>'+ 'Throughput: ' + throughput + ' bytes/s'+ '</li>>');

                } else {
                    alert('No Label Results from the Server! / Image Too Large!');
                }
            },
            error: function() {
                alert('File Not Uploaded / Image Too Large');
            }
        });
    }

    function buildTable(RTT, throughput, labels, probability) {
        var tableTemplate = '<div><h1 style="font-weight: bold; font-size:20px;">Result:</h1><p>RTT: ' + RTT +
            ' seconds' +'</p>' + '<p>Throughput: ' + throughput +' bytes/s' +'</p>';
        tableTemplate += '<table style="border: 1px solid gray; max-height: 600px; width: 100%">' +
            '  <tr>\n' +
            '    <td>Probability</td>';

        for (var n = 0; n < probability.length; n++) {
           tableTemplate += '<td>' + probability[n] + '</td>';
        }

        tableTemplate += '</tr>';
        tableTemplate += '<tr>' +
            '    <td>Label</td>';

        for (var n = 0; n < labels.length; n++) {
           tableTemplate += '<td>' + labels[n] + '</td>';
        }

        tableTemplate += '</tr></table>';
        var currentDiv = $('#result');
        currentDiv.html(tableTemplate);
    }
</script>

</body>
</html>
